Variable

In [16]:
 my_name="sarwar maruf Jebon"
 print(my_name)
 my_age=22
 my_address="55/A,Sukrabad,Dhaka"
print(my_address)
Country='Bangladesh'
print(Country)
phone_number='01710144505'
print("phone number:",phone_number)
yes=True
print("Am I bangladeshi?",yes)
type(yes)

sarwar maruf Jebon
55/A,Sukrabad,Dhaka
Bangladesh
phone number: 01710144505
Am I bangladeshi? True

bool

In [25]:
a=50
print(a)
b=a
print(b)
a=b=51
print(a,b)

a,b,c = 5,10,15
print(a)
print(b)
print(c)

a,b,c= "sarwar",9,"maruf"
print(a,b,c)
type(a)

50
50
51 51
5
10
15
sarwar 9 maruf

str

Data Type

In [ ]:
#Numeric
a=10
print(a)
type(a)
a=5.5
#here a is float
print(a)
type(a)

#complex:
b=3+5j
print(b)
type(b)

#Boolean
i=True
j=False
print(i,"=",j)
type(i)

#string:

a="hi,it's me,Jebon"
b="""Jebon,

    How are you?you are looking soo new.
    what's the reason?
    
    yours ever,
    jebon"""
print(a)
print(b)
type(b)

#sequence type:

  #list:(mutable)
list1= [10,34,56,67]
print(list1)
list2 = ['sarwar maruf',55,True,"what happened?"]
print(list2)
type(list)

  #tuple(immutable)
    
a=('sarwar maruf',55,True,"what happened?")
print(a)
type(a)

#Mapping data:

dic1={"name":"Sarawar Maruf Jebon","age":22,"Address":"sukrabad,55/A","phone":"01710144505"}
dic1["name"]
dic1["phone"]
type(dic1)

#Set Type:(set,frozen)

set1=set([10,15,15,254,509])
print(set1)
set2=set(["who are you?",25,"shut up",'ok'])
print(set2)
type(set2)

#Frozen set:(immutable)

set1=frozenset([10,15,15,254,509])
print(set1)
type(set1)

Operator & Operand

In [19]:
#Arithmetic Operator:

a,b,c=4,2,7
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("c%a=",c%a)
print("a**b=",a**b)
print("a//b=",a//b)

#Comparizon Operator:

a=5
b=6
print("a>b =>",a>b)
print("a<b =>",a<b)
print("a==b =>",a==b)
print("a!=b =>",a!=b)
print("a>=b =>",a>=b)
print("a<=b =>",a<=b)


#Assignment Operator:

a=5
b=60
a=b
print(a)
a+=2
a-=2
a//=2
a**=2
print(a)

#Logical OPerator

a=True
b=False
print("a AND b?",a and b)
print("a OR b?",a or b)
print("NOT b?",not b)
print("NOT a?",not a)

a+b= 6
a-b= 2
a*b= 8
a/b= 2.0
c%a= 3
a**b= 16
a//b= 2
a>b => False
a<b => True
a==b => False
a!=b => True
a>=b => False
a<=b => True
60
900
a AND b? False
a OR b? True
NOT b? True
NOT a? False